@font-face {
  font-family: 'Frijole';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Frijole-Regular.woff);
}
@font-face {
  font-family: 'Frijole';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Frijole-Regular.woff);
}
#interactive-cv {
  position: relative;
  width: 100%;
  height: 600px;
  margin: auto;
  overflow: hidden;
  background-color: #1c1d21;
}
#interactive-cv .node {
  font-weight: bold;
  max-width: 200px;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 0 15px 0;
}
#interactive-cv .node.icv-level-5 {
  font-size: 20px;
}
#interactive-cv .node.icv-level-4 {
  font-size: 18px;
}
#interactive-cv .node.icv-level-3 {
  font-size: 16px;
}
#interactive-cv .node.icv-level-2 {
  font-size: 14px;
}
#interactive-cv .node.icv-level-1 {
  font-size: 12px;
}
#interactive-cv .node .expansion {
  display: none;
  font-weight: normal;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  padding: 0 15px;
}
#interactive-cv .node .inline-expansion {
  font-weight: normal;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
}
#interactive-cv .node .inline-expansion .icv-experience {
  width: 13px;
  height: 13px;
  display: inline-block;
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 1px;
  border-radius: 2px;
  padding: 3px;
}
#interactive-cv .node .icv-btn {
  padding: 3px;
  font-size: 14px;
  margin: 10px 2px 0 2px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: rgba(255, 255, 255, 0.75);
}
#interactive-cv .node .icv-btn:hover:not(.disabled) {
  border: 1px solid rgba(255, 255, 255, 0.75);
  color: white;
}
#interactive-cv .node .icv-btn.disabled {
  opacity: 0.5;
  cursor: default;
}
#interactive-cv .node.icv-level-5 .icv-experience {
  background-image: url("../img/bar4.png");
}
#interactive-cv .node.icv-level-4 .icv-experience {
  background-image: url("../img/bar3.png");
}
#interactive-cv .node.icv-level-3 .icv-experience {
  background-image: url("../img/bar2.png");
}
#interactive-cv .node.icv-level-2 .icv-experience {
  background-image: url("../img/bar1.png");
}
#interactive-cv .node.icv-level-1 .icv-experience {
  background-image: url("../img/bar0.png");
}
#interactive-cv .node.open .expansion {
  display: block;
}
#interactive-cv.icv-theme-default,
#interactive-cv.icv-theme-flatline {
  background-image: url("../img/bg.png");
}
#interactive-cv.icv-theme-default #interactive-cv-canvas,
#interactive-cv.icv-theme-flatline #interactive-cv-canvas {
  opacity: 0.5;
}
#interactive-cv.icv-theme-default:not(.no-shadows) .node,
#interactive-cv.icv-theme-flatline:not(.no-shadows) .node {
  text-shadow: 2px 2px 2px black;
}
#interactive-cv.icv-theme-default .node,
#interactive-cv.icv-theme-flatline .node {
  font-family: 'Frijole', Verdana, sans-serif;
}
#interactive-cv.icv-theme-default .node.icv-level-5,
#interactive-cv.icv-theme-flatline .node.icv-level-5 {
  font-size: 20px;
}
#interactive-cv.icv-theme-default .node.icv-level-5 .inline-expansion .icv-experience,
#interactive-cv.icv-theme-flatline .node.icv-level-5 .inline-expansion .icv-experience {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
#interactive-cv.icv-theme-default .node.icv-level-4,
#interactive-cv.icv-theme-flatline .node.icv-level-4 {
  font-size: 18px;
}
#interactive-cv.icv-theme-default .node.icv-level-4 .inline-expansion .icv-experience,
#interactive-cv.icv-theme-flatline .node.icv-level-4 .inline-expansion .icv-experience {
  width: 18px;
  height: 18px;
  background-size: 18px;
}
#interactive-cv.icv-theme-default .node.icv-level-3,
#interactive-cv.icv-theme-flatline .node.icv-level-3 {
  font-size: 16px;
}
#interactive-cv.icv-theme-default .node.icv-level-3 .inline-expansion .icv-experience,
#interactive-cv.icv-theme-flatline .node.icv-level-3 .inline-expansion .icv-experience {
  width: 16px;
  height: 16px;
  background-size: 16px;
}
#interactive-cv.icv-theme-default .node.icv-level-2,
#interactive-cv.icv-theme-flatline .node.icv-level-2 {
  font-size: 14px;
}
#interactive-cv.icv-theme-default .node.icv-level-2 .inline-expansion .icv-experience,
#interactive-cv.icv-theme-flatline .node.icv-level-2 .inline-expansion .icv-experience {
  width: 14px;
  height: 14px;
  background-size: 14px;
}
#interactive-cv.icv-theme-default .node.icv-level-1,
#interactive-cv.icv-theme-flatline .node.icv-level-1 {
  font-size: 12px;
}
#interactive-cv.icv-theme-default .node.icv-level-1 .inline-expansion .icv-experience,
#interactive-cv.icv-theme-flatline .node.icv-level-1 .inline-expansion .icv-experience {
  width: 12px;
  height: 12px;
  background-size: 12px;
}
#interactive-cv.icv-theme-default .node .expansion,
#interactive-cv.icv-theme-flatline .node .expansion {
  font-family: Verdana, sans-serif;
}
#interactive-cv.icv-theme-default .node .inline-expansion,
#interactive-cv.icv-theme-flatline .node .inline-expansion {
  font-family: Verdana, sans-serif;
}
#interactive-cv.icv-theme-soapbubble,
#interactive-cv.icv-theme-reversesoapbubble {
  background-image: url("../img/bg.png");
}
#interactive-cv.icv-theme-soapbubble #interactive-cv-canvas,
#interactive-cv.icv-theme-reversesoapbubble #interactive-cv-canvas {
  opacity: 0.5;
}
#interactive-cv.icv-theme-soapbubble:not(.no-shadows) .node,
#interactive-cv.icv-theme-reversesoapbubble:not(.no-shadows) .node {
  text-shadow: 2px 2px 2px black;
}
#interactive-cv.icv-theme-soapbubble:not(.no-shadows) .node .expansion,
#interactive-cv.icv-theme-reversesoapbubble:not(.no-shadows) .node .expansion {
  text-shadow: 1px 1px 1px black;
}
#interactive-cv.icv-theme-soapbubble .node,
#interactive-cv.icv-theme-reversesoapbubble .node {
  font-family: 'Frijole', Verdana, sans-serif;
}
#interactive-cv.icv-theme-soapbubble .node .expansion,
#interactive-cv.icv-theme-reversesoapbubble .node .expansion {
  font-family: Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
  font-size: 11px;
  padding: 0 18px;
}
#interactive-cv.icv-theme-chemical {
  background-image: url("../img/bg.png");
}
#interactive-cv.icv-theme-chemical #interactive-cv-canvas {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#interactive-cv.icv-theme-chemical:not(.no-shadows) .node {
  text-shadow: 2px 2px 2px black;
}
#interactive-cv.icv-theme-chemical:not(.no-shadows) .node .expansion {
  text-shadow: 1px 1px 1px black;
}
#interactive-cv.icv-theme-chemical .node {
  font-family: 'Frijole', Verdana, sans-serif;
  z-index: 1;
  pointer-events: none;
}
#interactive-cv.icv-theme-chemical .node:not(.open).icv-level-5 {
  font-size: 20px;
}
#interactive-cv.icv-theme-chemical .node:not(.open).icv-level-4 {
  font-size: 18px;
}
#interactive-cv.icv-theme-chemical .node:not(.open).icv-level-3 {
  font-size: 16px;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#interactive-cv.icv-theme-chemical .node:not(.open).icv-level-2 {
  font-size: 14px;
  filter: alpha(opacity=60);
  opacity: 0.6;
}
#interactive-cv.icv-theme-chemical .node:not(.open).icv-level-1 {
  font-size: 12px;
  filter: alpha(opacity=40);
  opacity: 0.4;
}
#interactive-cv.icv-theme-chemical .node.open {
  font-size: 14px;
  z-index: 2;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#interactive-cv.icv-theme-chemical .node.open.icv-level-5,
#interactive-cv.icv-theme-chemical .node.open.icv-level-4,
#interactive-cv.icv-theme-chemical .node.open.icv-level-3,
#interactive-cv.icv-theme-chemical .node.open.icv-level-2,
#interactive-cv.icv-theme-chemical .node.open.icv-level-1 {
  font-size: 14px;
}
#interactive-cv.icv-theme-chemical .node.working {
  filter: alpha(opacity=0);
  opacity: 0;
}
#interactive-cv.icv-theme-chemical .node .expansion {
  font-family: Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.65);
  font-weight: normal;
  font-size: 11px;
  padding: 0 18px;
}
#interactive-cv.icv-theme-chemical .node .expansion .icv-btn {
  pointer-events: auto;
}
